* {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    box-sizing: border-box;
}


.bg-img {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.bg-gray{
    color: rgb(78, 78, 78);
    font-size: 20px;
    font-weight: 300;
}

.line{
    width: 45px;
    height: 5px;
    background-color: blue;
}


.ico-circle {
    height: 100px;
    width: 100px;
}


.section-counter {
    background-image: url(../images/counters-bg.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.822);
    z-index: 2;
}

.container {
    position: relative;
    z-index: 3;
}

.width-border {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(255, 255, 255, 0.6);
}


.bg-image{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
}

.testimonial-img{
    border-radius: 50%;
}


.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: white;
}


.img-footer{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 3px solid blue;
  border-radius: 50%;
  font-size: 18px;
  transition: all 0.3s ease;
}



